<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="utf-8">
        <title>Google</title>
        <link rel="stylesheet" href="pustka.css">
        <link rel="stylesheet" href="autocompleter.css">
        <script src="cities.js"></script>
        <script src="functions.js" defer></script>
        <script src="autocompleter.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    </head>
    <body> 
        <div id="app" :class="[googleSearch.length != 0 && isActive == 1 ? 'results' : isActive = 0 ]"> 
            <section class="container">
                <section class="centrum">
                    <div class="wyszukiwarka">
                        <input v-model="googleSearch" 
                        type="text" class="search_input" 
                        v-on:click="ustaw()" 
                        @keyup.down="idzDo(aktywnyWynik + 1)"
                        @keyup.up="idzDo(aktywnyWynik - 1)"
                        @keyup.enter="idzDoWynikow()">
                        <div class="lista">
                            <div :class="[googleSearch.length != 0 && filtrowaniemiast.length != 0 && c == 1 ? 'autocompleter' : 'pustka']">
                                <ul class="cmbBox">
                                    <li class="cmbWyniki" v-for="miasto in filtrowaniemiast" v-on:click="zmiana(miasto.name)">
                                        <div class="cmbpogrub" v-html="pogrub(miasto.name)">
                                        </div>  
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>  
            </section>         
                <script>
                    var app = new Vue({
                      el: '#app',
                      data: {
                        googleSearch: '',
                        miasta: window.cities,
                        isActive: 0,
                        aktywnyWynik: 0,
                        autocompleterIsActive: false,
                        isOnResult: false,
                        c: 0,
                      },

                
                      computed: {
                          filtrowaniemiast: function(){
                              let wynik= this.miasta.filter(miasto=> miasto.name.includes(this.googleSearch));
                              if (wynik.length>10)
                              {
                                  return wynik.slice(1,11);
                              }
                              return wynik;
                            }
                        },
                        
                        methods:{
                            pogrub(wynik)
                            {
                                wpisane= this.googleSearch;
                                var zmienna= wynik.split(wpisane);
                                for (i=0; i<zmienna.length; i++)
                                {
                                    wynik=wynik.replace(zmienna[i], zmienna[i].bold())
                                }
                                return wynik;
                            },

                            zmiana(z)
                            {
                                if(this.isActive == 0)
                            {
                                this.isActive = 1;
                                this.googleSearch = z;
                                a = document.getElementById("id");
                                a.blur();
                                this.c = 0;  
                            }
                            },

                            idzDo(index) 
                            {
                            if (!this.autocompleterIsActive) 
                            {
                                index = 0;
                            }

                            if (index > this.filtrowaniemiast.length - 1) 
                            {
                                index = 0;
                            } 
                            else if (index < 0) 
                            {
                                index = this.filtrowaniemiast.length - 1;
                            }
                        
                            this.aktywnyWynik = index;
                            this.autocompleterIsActive= true;
                            this.googleSearch = this.filtrowaniemiast[index].name;
                            },

                            idzDoWynikow(name)
                            {
                                this.autocompleterIsActive=true;
                                if(name)
                                {
                                    this.googleSearch=name;
                                }

                                this.filtrowaniemiast=[];
                                this.isOnResult=true;
                                this.$nextTick(()=>
                                {
                                    this.isActive=0;
                                })
                            },

                            ustaw()
                            {
                                this.c=1;
                            },

                        }
                    });
                  </script>
            </section>
        </div>
    </body>
 </html>